body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.memederz {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar img {
	height: 25px;
	width: 25px;
}