body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.memederz {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 23px;
}

.navbar-pics {
	height: 40px;
	width: 40px;
}

.matches-container {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
	overflow: scroll;
}

.matches-div {
	width: 85%;
	height: 60px;
	border-radius: 25px;
    border: 2px solid #73AD21;
    margin-left: auto;
    margin-right: auto;
}

.navbar-container {
    text-align:  center;
    position:  absolute;
    bottom:  0;
    margin: auto;
    width:  100%;
    border-top:  #d3d3d3 solid 1px;
    padding-top:  10px;
}

.navbar {
    padding: 20px 30px 0px 30px
}

.rectangle {
    height: 5px !important;
    width: 40px;
} 

.login-container{
    margin: auto;
    width: 50%;
}

.chat-input-container{
    position: absolute;
    bottom: 0;
}
.chat-container{
    position: relative;
    height: 80vh;
    padding: 0 30px 
}
.navbar-table {
    margin: auto;
}

.left {
    padding-right: 50px;
}

.mid {
    padding: 0px 45px 0px 45px;
}

.right {
    padding-left: 50px;
}

table {
    border-spacing: 0px;
}
